<template>
    <div class="container mt-5">
        <h2>Hello there</h2>

        <button class="btn btn-primary" @click="getPermissions">Give permission</button>
        <button class="btn btn-info" @click="getRedditToken">Get reddit token</button>
        <button class="btn btn-warning" @click.once="saveToNewAccount">Transfer saved posts</button>
    </div>
</template>


<script>
// TODO add separate backend with node to make requests, cause this aint working
// cos of that cors stuff
const http = require("superagent");
const uuidv4 = require("uuid/v4");
// import RedditPost from "./RedditPost.vue";

import {
    username,
    password,
    clientId,
    secret,
    scope,
    duration,
    redirectUri
} from "./../../../shared/AppData.js";

export default {
    data() {
        return {
            permissionsGiven: false,
            permissionsAsked: false,
            tokenRequested: false,
            appData: {
                username,
                password,
                clientId,
                secret,
                scope,
                duration,
                redirectUri
            },
            requestCode: null,
            currentState: null,
            token: null,
            username: null,
            savedPosts: [],
            migrating: false
        };
    },

    mounted() {
        //if there are saved posts, which means second auth

        if (localStorage.getItem("savedPosts")) {
            var posts = JSON.parse(localStorage.getItem("savedPosts"));
            this.migrating = true;

        }

    methods: {
        getRedditToken() {
            this.currentState = this.$route.query.state;
            if (!this.$route.query.error) {
                this.requestCode = this.$route.query.code;
                this.requestRedditToken()
                    .then(() => {
                        this.getUsername()
                            .then(() => {
                                if (!this.migrating) {
                                    this.getSavedPosts();
                                }
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    })
                    .catch(error => {
                        console.log(error);
                    });
            } else {
                // console.log("error getting permissions");
            }
        },

        saveToNewAccount() {
            const url = `http://localhost:8081/save/${this.token}`;

            http.get(url).then(response => {
                console.log(response.body);
            });
        },
        getPermissions() {
            var state = uuidv4();

            var query =
                "https://www.reddit.com/api/v1/authorize" +
                "?response_type=code" +
                "&duration=" +
                this.appData.duration +
                "&scope=" +
                this.appData.scope +
                "&client_id=" +
                this.appData.clientId +
                "&state=" +
                state +
                "&redirect_uri=" +
                this.appData.redirectUri;

            console.log(query);
            localStorage.setItem("permissionsAcquired", "true");

            window.open(query, "_self");
        },

        async requestRedditToken() {
            //you stupid fuck, you spent two days racking your brains on this dumb error
            //you didnt put http before localhost.
            const url = `http://localhost:8081/requestToken/${
                this.currentState
            }/${this.requestCode}`;

            var call = await http
                .get(url)
                .then(response => {
                    this.token = response.body.access_token;
                    localStorage.setItem("token1", this.token);
                    console.log("token: " + this.token);
                    // this.getUsername();
                })
                .catch(error => {
                    console.log(error);
                });
        },

        async getUsername() {
            const url = "http://localhost:8081/getUsername/" + this.token;

            console.log(this.token);

            var call = await http.get(url).then(response => {
                this.username = response.body.name;
                // this.getSavedPosts();
            });
        },

        async getSavedPosts() {
            const url = `http://localhost:8081/getSaved/${this.username}/${
                this.token
            }`;
            console.log(this.token);

            var call = await http.get(url).then(response => {
                console.log(response.body);
                if (!this.migrating) {
                    this.savedPosts = response.body;
                }
                localStorage.setItem(
                    "savedPosts",
                    JSON.stringify(this.savedPosts)
                );
            });
        }

        // unsavePost(post) {
        //     const url = `http://localhost:8081/unsave/${this.token}/${
        //         post.name
        //     }`;

        //     http.get(url)
        //         .then(response => {
        //             if (response.body) {
        //                 const index = this.savedPosts.indexOf(post);
        //                 this.savedPosts.splice(index, 1);
        //             }
        //         })
        //         .catch(error => {
        //             console.log(error);
        //         });
        // }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
