<template>
    <div>
        <div>
            <p>{{title}}</p>
        </div>
        <div>
            <button class="btn btn-danger" @click="$emit('unsavePost')">Unsave</button>
        </div>
    </div>
</template>

<script>
export default {
    props: ["post"],
    data() {
        return {
            title: this.post.title,
            author: this.post.author,
            permalink: this.post.permalink,
            score: this.post.ups,
            url: "https://www.reddit.com",
            thumbnail: this.post.thumbnail
        };
    }
};
</script>

<style scoped>
a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 150px;
    height: auto;
}

.post div {
    display: inline-block;
}
</style>
