<template>
    <div>
        <p>Reddit token page</p>
        <div class="mb-5">
            <a href="http://localhost:8080/" class="btn btn-info">Connect to second account</a>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item" v-for="post in savedPosts" :key="post.id">
                    <reddit-post :post="post" @unsavePost="unsavePost(post)"/>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
// got rid of interface plus added unsave
const http = require("superagent");
import RedditPost from "./RedditPost.vue";
export default {
    //not the first time you put date instead of data fucktard
    data() {
        return {
            requestCode: null,
            currentState: null,
            token: null,
            username: null,
            savedPosts: []
        };
    },
    components: {
        "reddit-post": RedditPost
    },

    mounted() {
        this.currentState = this.$route.query.state;
        
        if(localStorage.getItem('savedPosts')) {
            var posts = JSON.parse(localStorage.getItem('savedPosts'));
            //login second user
            console.log('other posts exist: ');
            console.log(posts);

            
        } else {
            if (!this.$route.query.error) {
                this.requestCode = this.$route.query.code;
                this.requestRedditToken();
            } else {
                console.log("error getting permissions");
            }

        }
    },

    methods: {

        requestRedditToken() {
            //you stupid fuck, you spent two days racking your brains on this dumb error
            //you didnt put http before localhost.
            const url = `http://localhost:8081/requestToken/${
                this.currentState
            }/${this.requestCode}`;

            http.get(url)
                .then(response => {
                    this.token = response.body.access_token;
                    this.getUsername();
                })
                .catch(error => {
                    console.log(error);
                });
        },

        getUsername() {
            const url = "http://localhost:8081/getUsername/" + this.token;

            http.get(url).then(response => {
                this.username = response.body.name;
                this.$cookie.set(
                    "oldAccount",
                    {
                        token: this.token,
                        state: this.state,
                        username: this.username,
                        code: this.code
                    },
                    1
                );
                this.getSavedPosts();
            });
        },
        
        getSavedPosts() {
            const url = `http://localhost:8081/getSaved/${this.username}/${
                this.token
            }`;

            http.get(url).then(response => {
                console.log(response.body);
                this.savedPosts = response.body;
                localStorage.setItem('savedPosts', JSON.stringify(this.savedPosts));
            });
        },

        unsavePost(post) {
            const url = `http://localhost:8081/unsave/${this.token}/${
                post.name
            }`;

            http.get(url)
                .then(response => {
                    if (response.body) {
                        const index = this.savedPosts.indexOf(post);
                        this.savedPosts.splice(index, 1);
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        },
    }
};
</script>

<style scoped>
</style>
